{% extends "_base.html" %}


{% block body %}


{% if counter %}
    <p>Состояние счетчик: <b>{{ counter.value }}</b></p>
    <p>
        <a href="{% url 'app_counter:decrease_counter' %}"> Минус 1 </a>
        <a href="{% url 'app_counter:increase_counter' %}"> Плюс 1 </a>


    </p>

     <p>
        <a href="{% url 'app_counter:index' %}"> На главную </a>
     </p>

        <hr>


{% else %}
    <p> Нет счётчиков </p>
    <hr>
    <p>

        <a href="{% url 'app_counter:create_counter' %}"> Создать </a>

    <hr>

    </p>
{% endif %}



{% endblock %}